HELP.md

.env
.env.*
*.env

**/src/main/resources/application-local.yaml
**/src/main/resources/application-local.properties
**/src/main/resources/application-dev.yaml
**/src/main/resources/application-dev.properties

logs/
*.log
activemq-data/
HS_ERR_PID*
uploads/

target/
!**/src/main/**/target/
!**/src/test/**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/.maven-wrapper.jar
!/.mvn/wrapper/maven-wrapper.jar

.idea/
.idea
*.iml
*.iws
*.ipr
out/

.metadata/
.classpath
.project
.settings/
.settings
.springBeans
.sts4-cache/
.sts4-cache
.apt_generated
.factorypath
bin/
*.launch

.vscode/

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
Desktop.ini